<ion-header>
  <ion-toolbar>
    <ion-title>6 estágios de negação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--Código Personalizado-->
  
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-card>
        <ion-item>
          <h2 class = "feedTitle">Negação 1</h2>
          <p></p>
        </ion-item>
      
        <img src="assets/customImages/negacaoImg1.jpg" class="responsive">
      
        <ion-card-content>
          <h2 class = "textIntro">Não é real.</h2>
        </ion-card-content>
      </ion-card>
    </ion-slide>


    <ion-slide>
    <ion-card>
      <ion-item>
        <h2 class = "feedTitle">Negação 2</h2>
        <p></p>
      </ion-item>
    
      <img src="assets/customImages/negacaoImg2.jpg" class="responsive">
    
      <ion-card-content>
        <h2 class = "textIntro">Não somos nós.</h2>
      </ion-card-content>
    </ion-card>
    </ion-slide>


    <ion-slide>
      <ion-card>
        <ion-item>
          <h2 class = "feedTitle">Negação 3</h2>
          <p></p>
        </ion-item>
      
        <img src="assets/customImages/negacaoImg3.jpg" class="responsive">
      
        <ion-card-content>
          <h2 class = "textIntro">Não é tão ruim.</h2>
        </ion-card-content>
      </ion-card>
    </ion-slide>


    <ion-slide>
      <ion-card>
        <ion-item>
          <h2 class = "feedTitle">Negação 4</h2>
          <p></p>
        </ion-item>
      
        <img src="assets/customImages/negacaoImg4.jpg" class="responsive">
      
        <ion-card-content>
          <h2 class = "textIntro">É caro demais resolver.</h2>
        </ion-card-content>
      </ion-card>
    </ion-slide>


    <ion-slide>
      <ion-card>
        <ion-item>
          <h2 class = "feedTitle">Negação 5</h2>
          <p></p>
        </ion-item>
      
        <img src="assets/customImages/negacaoImg5.jpg" class="responsive">
      
        <ion-card-content>
          <h2 class = "textIntro">Aqui está uma ótima solução (que não funciona).</h2>
        </ion-card-content>
      </ion-card>
    </ion-slide>


    <ion-slide>
      <ion-card>
        <ion-item>
          <h2 class = "textIntro">Negação 6</h2>
          <p></p>
        </ion-item>
      
        <img src="assets/customImages/negacaoImg6.jpg" class="responsive">
      
        <ion-card-content>
          <h2 class = "textIntro">– ah não!</h2>
          <h2 class = "textIntro"> devia ter avisado antes</h2>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  
  </ion-slides>


</ion-content>
