<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="newspaper"></ion-icon>
      <ion-label>Situação</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="intro">
      <ion-icon name="skull-sharp"></ion-icon>
      <ion-label>Negação</ion-label>
    </ion-tab-button>

  <!--Código Personalizado-->

  <ion-tab-button tab="feed">
      <ion-icon name="pulse-sharp"></ion-icon>
      <ion-label>Sintomas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

  <!--Código Personalizado-->

</ion-tabs>
