<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Situação
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--Código Personalizado-->

  <ion-card>

    <iframe src="https://ourworldindata.org/grapher/total-cases-covid-19?tab=map&year=2020-05-10&country=ARG+BOL+BRA+CHL+COL+CUB+ECU+MEX+PRY+PER+URY+VEN" style="border:0px #ffffff none;" name="myiFrame" scrolling="no" frameborder="1" marginheight="0px" marginwidth="0px" height="500px" width="300px" allowfullscreen></iframe>
    

  </ion-card>

    <!--Código Personalizado-->

</ion-content>
