h2.feedTitle 
{
    color: dimgray;
    font-weight: bold;
}

h3.textFeed
{
    color: navy;
}

img.tamanho 
{
    width: 500px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}